<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <link href="./style.css" rel="stylesheet" />
    <title>ToDo リスト</title>
  </head>
  <body>
    <div id="app" class="container" v-cloak>
      <h1>ToDo リスト</h1>

      <input v-model="newContent" type="text" />
      <button @click="add" class="add">登録</button>

      <ul>
        <li v-for="(todo, i) in todos">
          <div v-if="i === editIndex" class="todo">
            <input v-model="editContent" type="text" class="edit" />
            <button @click="resetEditing" class="cancel">キャンセル</button>
            <button @click="update(i)" class="update">更新</button>
          </div>

          <div v-else class="todo">
            <input type="checkbox" :checked="todo.isDone" @click="toggleDoneState(i)" />
            <span class="content" :class="{ done: todo.isDone }">{{ todo.content }}</span>
            <button @click="edit(i)" class="edit">編集</button>
            <button @click="remove(i)" class="remove">削除</button>
          </div>
        </li>
      </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="./main.js"></script>
  </body>
</html>
